@page "/configuraciones"
@layout AdMainLayout
<PageTitle>Mantenimientos - Saam</PageTitle>
<div id="region">
    <!--=========Breadcrumb==========-->
    <section class="main-content">
        <div class="container-max">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <NavLink class="nav-link" href="/dashboard">
                                    Dashboard
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item active">Configuraciones</li>
                        </ol>
                    </nav>
                </div>
                <!--=========Main==========-->
            </div>
        </div>    
    </section>
</div>
@code{
}