@page "/detalle-de-compra-de-saldo/{countryId}"
<PageTitle>Detalle de Compra de Saldo By El Salvador</PageTitle>
<div id="mantenimiento">
    <!--=========Breadcrumb==========-->
    <section class="main-content">
        <div class="container-max">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <NavLink class="nav-link" href="/">
                                    Dashboard
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item">
                                 <NavLink class="nav-link" href="reportes">
                                    Reportes
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item active">Detalle de Compra de Saldo</li>
                        </ol>
                    </nav>
                </div>
                <!--=========Main==========-->
            </div>
        </div>
    </section>
</div>
@code {
}
