@page "/liquidaciones"
<PageTitle>Liquidaciones By El Salvador</PageTitle>
<div id="liquidacion">
            <!--=========Breadcrumb==========-->
            <section class="main-content">
                <div class="container-max">
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <NavLink class="nav-link" href="/">
                                            <a>Dashboard</a>
                                        </NavLink>
                                    </li>
                                    <li class="breadcrumb-item active">Liquidaciones</li>
                                </ol>
                            </nav>
                        </div>
                        <!--=========Main==========-->
                        <div class="col-lg-4 mb-4">
                            <div class="card person">
                                <NavLink class="nav-link" href="liquidacion-asesores-padres">
                                    <div class="card-head2" style="background-image: url(/images/liquidaciones_asesores_padres.png)">
                                    </div>
                                </NavLink>
                                <div class="card-body pt-3">
                                    <div class="row">
                                        <div class="col-md-6 edit">
                                        </div>
                                    </div>
                                    <center>
                                        <NavLink class="nav-link" href="liquidacion-asesores-padres">
                                            <h6>Liquidaciones Asesores Padres</h6>
                                        </NavLink>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card person">
                                <NavLink class="nav-link" href="liquidacion-asesores-individuales">
                                    <div class="card-head2" style="background-image: url(/images/liquidaciones_asesores_individuales.png)">
                                    </div>
                                </NavLink>
                                <div class="card-body pt-3">
                                    <div class="row">
                                        <div class="col-md-6 edit">
                                        </div>
                                    </div>
                                    <center>
                                        <NavLink class="nav-link" href="liquidacion-asesores-individuales">
                                            <h6>Liquidaciones Asesores Individuales</h6>
                                        </NavLink>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card person">
                                <NavLink class="nav-link" href="historial-liquidaciones-asesores-padres">
                                    <div class="card-head2" style="background-image: url(/images/historial_liquidaciones_padre.png)">
                                    </div>
                                </NavLink>
                                <div class="card-body pt-3">
                                    <div class="row">
                                        <div class="col-md-6 edit">
                                        </div>
                                    </div>
                                    <center>
                                        <NavLink class="nav-link" href="historial-liquidaciones-asesores-padres">
                                            <h6>Historial Liquidaciones Asesores Padres</h6>
                                        </NavLink>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card person">
                                <NavLink class="nav-link" href="historial-liquidaciones-asesores-individuales">
                                    <div class="card-head2" style="background-image: url(/images/historial_liquidaciones_individual.png)">
                                    </div>
                                </NavLink>
                                <div class="card-body pt-3">
                                    <div class="row">
                                        <div class="col-md-6 edit">
                                        </div>
                                    </div>
                                    <center>
                                        <NavLink class="nav-link" href="historial-liquidaciones-asesores-individuales">
                                            <h6>Historial Liquidaciones Asesores Individuales</h6>
                                        </NavLink>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card person">
                                <NavLink class="nav-link" href="liquidaciones-pospuestas-asesores-padres">
                                    <div class="card-head2" style="background-image: url(/images/liquidaciones_pospuestas_padres.png)">
                                    </div>
                                </NavLink>
                                <div class="card-body pt-3">
                                    <div class="row">
                                        <div class="col-md-6 edit">
                                        </div>
                                    </div>
                                    <center>
                                        <NavLink class="nav-link" href="liquidaciones-pospuestas-asesores-padres">
                                            <h6>Liquidaciones Pospuestas Asesores Padres</h6>
                                        </NavLink>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card person">
                                <NavLink class="nav-link" href="liquidaciones-pospuestas-asesores-individuales">
                                    <div class="card-head2" style="background-image: url(/images/liquidaciones_pospuestas_individual.png)">
                                    </div>
                                </NavLink>
                                <div class="card-body pt-3">
                                    <div class="row">
                                        <div class="col-md-6 edit">
                                        </div>
                                    </div>
                                    <center>
                                        <NavLink class="nav-link" href="liquidaciones-pospuestas-asesores-individuales">
                                            <h6>Liquidaciones Pospuestas Asesores Individuales</h6>
                                        </NavLink>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
@code {
}
