@page "/liquidaciones-pospuestas-asesores-padres/{countryId}"
<PageTitle>Historial Liquidaciones Pospuestas Asesores Padres By El Salvador</PageTitle>
<div id="mantenimiento">
    <!--=========Breadcrumb==========-->
    <section class="main-content">
        <div class="container-max">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <NavLink class="nav-link" href="dashboard">
                                    Dashboard
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item">
                                <NavLink class="nav-link" href="liquidaciones">
                                    Liquidaciones
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item active">Liquidaciones Pospuestas Asesores Padres</li>
                        </ol>
                    </nav>
                </div>
                <!--=========Main==========-->
            </div>
        </div>
    </section>
</div>
@code {
}
