@page "/crear-asesor-padre/{countryId}"
<PageTitle>Crear Asesor Padre By El Salvador</PageTitle>
<div id="paquete">
    <!--=========Breadcrumb==========-->
    <section class="main-content">
        <div class="container-max">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <NavLink class="nav-link" href="/">
                                    Dashboard
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item">
                                <NavLink class="nav-link" href="asesores">
                                    Asesores
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item">
                                <NavLink class="nav-link" href="asesores-padres">
                                    Asesores Padres
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item active">Crear</li>
                        </ol>
                    </nav>
                </div>
                <!--=========Main==========-->
            </div>
        </div>
    </section>
</div>
@code {
}
