@page "/editar-asesor-hijo-inactivo/{countryId}"
<PageTitle>Editar Asesor Hijo Inactivo By El Salvador</PageTitle>
<div id="paquete">
    <!--=========Breadcrumb==========-->
    <section class="main-content">
        <div class="container-max">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <NavLink class="nav-link" href="/">
                                    Dashboard
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item">
                                <NavLink class="nav-link" href="asesores">
                                    Asesores
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item">
                                <NavLink class="nav-link" href="asesores-hijos-inactivos">
                                    Asesores Hijo Inactivos
                                </NavLink>
                            </li>
                            <li class="breadcrumb-item active">Editar</li>
                        </ol>
                    </nav>
                </div>
                <!--=========Main==========-->
            </div>
        </div>
    </section>
</div>
@code {
}
